
.container{
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    flex-direction: column;
}
#containerBtn{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 5px;
   
}
button{
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: transparent;
    transition: background-color .5s;
    text-transform: uppercase;
}
button:hover{
    background-color: rgb(108, 243, 243);
}
label{

    display: block;
    text-align: center;
    font-size: 10rem;
}